.header {
    background: url("/img/banner.jpg");
    background-size: cover;
    border-radius: 10px 10px 0 0;
    color: #f35959;
    text-shadow: 1px 1px 1px #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:5px;
    margin-bottom: 10px;
}

.header h1{
    font-size: 30px;
    position: absolute;
    left:130px;
    top:0px;
}

.header img{
    width:100px;
}
.header img:hover{
    -webkit-animation:spin 0.5s linear infinite;
    -moz-animation:spin 0.5s linear infinite;
    animation:spin 0.5s linear infinite;
}


@media screen and (min-width: 768px) {
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left:5px;
    }

    .header img{
        width:140px;
    }

    .header h1{
        font-size: 60px;
        position:absolute;
        left:180px;
        top:40px;
    }
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% { transform:rotate(360deg); }
}

@keyframes hieuung4{
    0% { color: #ff0000;}
    14.2% { color: #ff7f00;}
    28.5% { color: #ffff00;}
    42.7% { color: rgb(0, 255, 0);}
    57% { color: #0000ff; }
    71.2% { color: #4b0082;}
    85.5% { color: #8f00ff;}
    100% { color: #ff0000;}
}
