body {
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #FFF;
    /* Border */
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0 0 2px 2px #888;
    -webkit-box-shadow: 0 0 2px 2px #888;
    box-shadow: 0 0 2px 2px #888;
    border: solid 2px #808080;
}


.my-nav {
    background: #4294DE;
    border-color: #4294DE;
    box-shadow: 0 0 12px 0 #ccc;
    font-weight: bold;
}

    .my-nav a {
        color: #dfe0ed;
    }

    .my-nav ul.navbar-nav a:hover,
    .my-nav ul.navbar-nav a:visited,
    .my-nav ul.navbar-nav a:focus,
    .my-nav ul.navbar-nav a:active {
        background: #0066cc;
    }

    .my-nav ul.navbar-nav a:hover {
        border-color: #0066cc;
    }

    .my-nav li.divider {
        background: #0066cc;
    }

    .my-nav button.navbar-toggle {
        background: #0066cc;
        border-radius: 4px;
    }

        .my-nav button.navbar-toggle:hover {
            background-color: blue;
        }

        .my-nav button.navbar-toggle > span.icon-bar {
            background: #fff;
        }

.user-content {
    width: 380px;
    padding: 15px;
    padding-bottom: 5px;
    background-color: white;
}

.user-footer {
    width: 380px;
    background-color: #DDD;
}

.user-footer-content {
    padding: 15px 15px 15px 15px;
}

.dropdown-menu {
    padding: 0px;
    overflow: hidden;
}

#this{
    background: #0066cc;
}

.leftMenu {
    color: #372beb;
}

    .leftMenu ul {
        list-style: none;
        padding: 0 0 0 5px;
    }

        .leftMenu ul li {
            text-shadow: 0 1px 0 #fff;
            font-weight: bold;
            line-height: 24px;
            padding-left: 4px;
            cursor: pointer;
        }

            .leftMenu ul li:hover {
                background-color: #ddd;
            }

    .leftMenu a {
        text-decoration: none;
    }

        .leftMenu a:visited {
            color: #0A5BC4;
        }

.analy{
    background-color: #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.centerblock{
    display: flex;
    align-items: center;
}

h1.chude{
    font-weight: normal;
    font-size: 20px;
    color: rgb(37, 54, 212);
}

h1.noidung{
    font-weight: normal;
    font-size: 15px;
    color: black;
    margin: 0px 0px 10px 0px;
    line-height: 1.3;
    text-align: justify;
}

h1.right{
    text-align: right;
}

#label{
    top: 20%;
    position: absolute;
    align-content: center;
    display: block;
}

#btn{
    background: rgb(66, 221, 100);
    position: absolute;
    top: 2px;
    left: 2px;
}